:root {
  --font-family: Roboto, sans-serif; /* Font chữ */
  --primary-color: #007bff; /* Màu chính */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
}

/* Thiết lập phần header */

/* Thiết lập tiêu đề chính */
h1 {
  font-size: 24px;
  /* margin-top: 20px; */
}

/* Thiết lập văn bản chính */
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Thiết lập nút */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Thiết lập liên kết */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* CSS header */
.header {
  width: 100%;
  height: 116px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  border-bottom: 2px solid rgba(211, 211, 211);
  backdrop-filter: blur(5px);
  gap: 170px;
}
.logo_bk {
  /* margin-left: 100px; */
}
.header__logo {
  width: 150px;
}
/* Header Menu */
.header__menu {
  width: 1000px;
  height: 100%;
}
.header__menu > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu > ul > li {
  list-style-type: none;
  width: 200px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu__title {
  font-size: 20px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #6c6b6b;
}

/*  */
/*  */

/* Css Content */
.content__home {
  padding-top: 116px;
  width: 100%;
  margin-left: none;
  margin-right: none;
}
/*  */
.sideBar_left__home {
  width: 25%;
  height: auto;
  /* background-color: red; */
  padding: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.listLink {
  justify-content: start;
  width: 100%;
  /* background-color: #6c6b6b; */
  height: 350px;
  max-height: 1500px;
  border-bottom: 2px solid rgba(211, 211, 211);
  backdrop-filter: blur(5px);
}
.link {
  width: 100%;
  height: 100px;
  /* background-color: brown; */
  margin-top: 0px;
}
.icon_title {
  width: 100%;
  height: 100px;
  /* background-color: green; */
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon__link {
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
.title_link {
  padding-left: 10px;
  font-size: 25px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: black;
}
.list_course {
  padding-left: 12px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgba(211, 211, 211);
  backdrop-filter: blur(5px);
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20px;
  gap: 10px;
}
.list {
  display: flex;
  flex-direction: column;
}
.course_title {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.course_title > span {
  font-size: 23px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #007bff;
  height: auto;
  width: 340px;
}
.list_subject {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 74%;
  height: auto;
  /* background-color: #888888; */
  gap: 20px;
}
.list_subject > a {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.header_list_teacher {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: auto;
  padding-left: 12px;
  padding-top: 20px;
  gap: 296px;
}
/*  */
.list_video__home {
  padding-top: 50px;
  width: 50%;
  /* background-color: #007bff; */
}
.video__home {
  margin-left: 187px;
  height: 100%;
  width: 60%;
  /* background-color: red; */
}
.video__home > img {
  margin-left: 84.5px;
  width: 70%;
  height: 600px;
  border-radius: 10px;
}
.video__home > video {
  width: 70%;
  height: 600px;
}
.sideBar_right__home {
  width: 25%;
  background-color: aqua;
}
/*  */
